
  @media (max-width: 768px) {
    .post-container1 {
      align-items: start;
    }

    .post-image {
      height: 200px;
    }

    .post-details {
      margin-bottom: 20px;
    }
  }

  .title {
    margin-top: 120px;
    text-align: center;
    background-color: rgb(243, 207, 211);
  }
  
  .post-container1 {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center; 
    margin-bottom: 25px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button3 {
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d22f2f;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .button3:hover {
    border-color: #dc3030;
  }
  
  .button3 button:focus,
  .button3:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    .button3 {
      background-color: #f8e2e2;
    }
  }
  

