button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #dc3030;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff748b;
  }
  button {
    background-color: #f9f9f9;
  }
}



.button2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-right: 18px; 
  justify-content: flex-start;
  background-color: #1a1a1a;
  cursor: pointer;
  align-self: end;
  transition: border-color 0.25s;
  color: #1a1a1a;
  text-decoration: none;
  width: auto;
  display: inline-block;
}

.button2:hover {
  border-color: #dc3030;
}
.button2:focus,
.button2:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff748b;
  }
  .button2 {
    background-color: #ebd1d1;
  }
}

@media (min-width: 768px) {
  .button2 {
    width: auto;
    margin-right: 18px;
  }
}




.button4 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-right: 18px; 
  justify-content: flex-start;
  background-color: #1a1a1a;
  cursor: pointer;
  align-self: end;
  transition: border-color 0.25s;
  color: #1a1a1a;
  text-decoration: none;
  width: auto;
  display: inline-block;
}

.button4:hover {
  border-color: #dc3030;
}
.button4:focus,
.button4:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff748b;
  }
  .button4 {
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .button2 {
    width: auto; 
    margin-right: 18px;
  }
}

.post-image {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.post-container2 {
  display: flex;
  font-size:50px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.post-details {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}